# @file package-release.yml
---
name: Python package release
on:
  release:
    types: [created]
jobs:
  release:
    # specify the instance
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest, macos-latest]
        # python-version: [3.8, 3.11, 3.12]
    steps:
    # checkout the repository to master
    # and use it as the current working directory
    - uses: actions/checkout@v5
    - name: Set up QEMU
      if: runner.os == 'Linux' && runner.arch == 'X64'
      uses: docker/setup-qemu-action@v3
      with:
        platforms: all
    - name: Install cibuildwheel
      run: python -m pip install cibuildwheel==3.3.0
    - name: Build wheels
      run: python -m cibuildwheel --output-dir wheelhouse
      env:
        CIBW_SKIP: "*-musllinux* cp38-* cp39-* cp310-*"
        CIBW_ENABLE: "cpython-prerelease"
        CIBW_ENVIRONMENT_LINUX: "PKG_CONFIG_PATH=/usr/local/lib/pkgconfig LDFLAGS=-L/usr/local/lib CPPFLAGS=-I/usr/local/include"
        CIBW_BEFORE_BUILD_LINUX: "yum install -y libxml2-devel libxslt-devel && pip install --no-binary lxml lxml==6.0.2"
        CIBW_BEFORE_BUILD_MACOS: "brew install libxml2 libxslt && pip install --no-binary lxml lxml==6.0.2"
        CIBW_ARCHS_LINUX: "x86_64 aarch64"
        CIBW_ARCHS_MACOS: "x86_64 universal2 arm64"
    - uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
        path: ./wheelhouse/*.whl
